.section1{
    height: 6rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background: $secondaryB;

    nav{
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        @include breakpoint-down(small){
            padding: 0 1rem;
        }
        
        .logo{

            img{
                display: inline-block;
                height: 6rem;
            }
          
        }

        .links{

            a{
                text-transform: uppercase;
                margin: 0 0.5rem;
            }

        }
        
        .hamburger{
            width: 2.6rem;
            height: 2.5rem;
            span{
                background-color: #111;
                display: block;
                height: 0.3rem;
                margin: 0.5rem 0;
            }
        }
    }

}
