/* 
*/
/* 
// blue theme
// background colors
$primaryB :  #0c2233;
$secondaryB : #0a91ab;
$tertiaryB : #ffc045;
$fourthB : #065471;
//borders
$borderP : 1px solid rgba(0, 247, 255, 0.253);

//font color
$clrB :#fffffff1;
$clrD : #f3f3f3;
$clr: white;
$cta : rgb(26, 26, 26);
//btn clr
$btnP : #c9c449;

// fonts 
$large : 4rem;

//box shadows
$bs1 :   3px 3px 20px rgba(0, 0, 0, .5);
$bs2 :  rgb(0, 0, 0) 0px 20px 30px -10px;
$bs3:  rgba(0, 0, 0, 0.16) 0px 1px 4px;


//hamburger color
$hamb: white;

//tertiary colors 
$tert1 : #3fbbb5;
$tert2 : #d6b437;
$tert3 : #292B37;

//overlays 
$overlay1: #ffd755d8;

// font family 
$font1 :'Montserrat', sans-serif;
$font2: 'Quicksand', sans-serif;


 */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #f3ca20;
  font-size: 1.6rem;
}

body {
  min-height: 100vh;
  background: #111;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.836);
}

.container {
  max-width: 120rem;
  margin: auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

footer {
  min-height: 40rem;
  background-color: #000;
}

.cta {
  background-color: #f3ca20;
  height: 3.5rem;
  min-width: 6rem;
  border-radius: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a1a1a;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.blog__link {
  background-color: #f3ca20;
  height: 3.5rem;
  min-width: 6rem;
  border-radius: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a1a1a;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.widetxt {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.invisible {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.section1 {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: #222;
  height: auto;
  overflow: hidden;
}

.section1 nav {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.section1 nav .logo {
  padding: 0.8rem 0 0 0;
}

.section1 nav .logo img {
  display: inline-block;
  height: 6rem;
}

.section1 nav .links a {
  text-transform: uppercase;
  margin: 0 0.5rem;
}

.section1 nav .hamburger {
  width: 3.4rem;
  height: 3.5rem;
  cursor: pointer;
  z-index: 1000;
  padding: 0.3rem;
}

.section1 nav .hamburger__open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 4px 0.2px;
          transform-origin: 4px 0.2px;
}

.section1 nav .hamburger__open > span:nth-child(2) {
  opacity: 0;
}

.section1 nav .hamburger__open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: -2px 1px;
          transform-origin: -2px 1px;
}

.section1 nav .hamburger span {
  background-color: white;
  display: block;
  height: 0.4rem;
  margin: 0.5rem 0;
  border-radius: 2rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.section2 {
  margin: 7rem 0 0 0;
  padding: 0 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
}

@media (max-width: 599px) {
  .section2 {
    display: block;
  }
}

.section2 .card {
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  max-width: 40rem;
  min-height: 42rem;
  margin: 3rem 0;
}

@media (max-width: 599px) {
  .section2 .card {
    margin: 6rem auto;
  }
}

@media (max-width: 399px) {
  .section2 .card {
    min-height: 45rem;
  }
}

.section2 .card:hover {
  -webkit-box-shadow: black 0px 20px 30px -10px;
          box-shadow: black 0px 20px 30px -10px;
}

.section2 .card__logo {
  height: 8rem;
  width: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(orange), to(red));
  background: linear-gradient(to right, orange, red);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: 0.8rem solid #111;
  overflow: hidden;
  z-index: 4;
}

.section2 .card__logo img {
  display: inline-block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2 .card__bg {
  height: 40%;
  width: 100%;
  background: #111;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.section2 .card__bg img {
  display: inline-block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2 .card__snippet {
  padding: 1rem 2rem;
  color: rgba(255, 255, 255, 0.836);
  width: 100%;
  height: 60%;
  overflow: hidden;
  z-index: 3;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-weight: 300;
}

.section2 .card__snippet .heading {
  padding: 0 0 2rem 0;
  font-size: 1.9rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.section2 .card__snippet .blog__link {
  font-weight: 400;
}

.section2 .card__overlay {
  background: rgba(0, 0, 0, 0.411);
  position: absolute;
  height: 40%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section2 .card__overlay:hover {
  background-color: rgba(0, 0, 0, 0.192);
}

footer {
  padding: 4rem 2rem;
  color: rgba(255, 255, 255, 0.836);
  text-align: center;
}

@media (max-width: 979px) {
  .hide_for_mobiles {
    display: none;
  }
}

@media (min-width: 980px) {
  .hide_for_desktops {
    display: none;
  }
}

.menu {
  opacity: 1;
  background-color: #111;
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translate(-75%, 0%);
          transform: translate(-75%, 0%);
  -webkit-animation: dropDown 0.5s ease-out forwards;
          animation: dropDown 0.5s ease-out forwards;
  overflow: auto;
  padding: 4rem 2rem 2rem;
}

@-webkit-keyframes dropDown {
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes dropDown {
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.menu .links {
  height: 40vh;
  width: 100%;
  font-weight: 600;
}

.menu .links a {
  text-transform: uppercase;
  display: block;
  height: 5rem;
  border-radius: 1rem;
  background-color: #222;
  padding: 2rem;
  margin: 2rem 0;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
}

.menu .links .themes {
  min-height: 15rem;
  width: 100%;
  padding: 2rem 0;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #222;
}

.menu .links .themes .widetxt {
  height: 3rem;
}

.menu .links .themes .switches {
  margin: 2rem 0;
  max-width: 50rem;
  background-color: #111;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.menu .links .themes .switches .switch {
  height: 5rem;
  width: 5rem;
  border: 2px solid black;
  border-radius: 50%;
  margin: 1rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.menu .links .themes .switches .switch:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.menu .links .themes .switches .switch1 {
  background-color: white;
}

.menu .links .themes .switches .switch2 {
  background-color: black;
  border-color: white;
}

.menu .links .themes .switches .switch3 {
  background-color: #00a700;
}

.menu .links .themes .switches .switch4 {
  background-color: #008cff;
}

.menu__open {
  position: fixed;
  top: 0;
}
/*# sourceMappingURL=blogsDark.css.map */