/* 
// white theme
// background colors
$primaryB :  #ececec;
$secondaryB : #ffffff;
$tertiaryB : #6C63FF;

//borders
$borderP : 1px solid rgba(0, 247, 255, 0.253);

//font color
$clrB :#fffffff1;
$clrD : #f3d6bb;
$cta : rgb(255, 255, 255);
//btn clr
$btnP : #c9c449;

// fonts 
$large : 4rem;

//box shadows
$bs1 :  rgba(0, 0, 0, 0.24) 0px 3px 8px;
$bs2 :  rgb(38, 57, 77) 0px 20px 30px -10px;


//tertiary colors 
$tert1 : #3fbbb5;
$tert2 : #d6b437;
$tert3 : #292B37;

 */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-size: 1.6rem;
}

body {
  min-height: 100vh;
  background: #006875;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 120rem;
  margin: auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

footer {
  min-height: 40rem;
  background-color: #001C21;
}

.cta {
  background-color: #ffffff;
  height: 3.5rem;
  min-width: 6rem;
  border-radius: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.blog__link {
  background-color: #ffd755;
  height: 3.5rem;
  min-width: 6rem;
  border-radius: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.widetxt {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.invisible {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.section1 {
  height: 6rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: #ffd755;
}

.section1 nav {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

@media (max-width: 399px) {
  .section1 nav {
    padding: 0 1rem;
  }
}

.section1 nav .logo img {
  display: inline-block;
  height: 6rem;
}

.section1 nav .links a {
  text-transform: uppercase;
  margin: 0 0.5rem;
}

.section1 nav .hamburger {
  width: 2.6rem;
  height: 2.5rem;
}

.section1 nav .hamburger span {
  background-color: #111;
  display: block;
  height: 0.3rem;
  margin: 0.5rem 0;
}

.section2 {
  margin: 10rem 0;
  line-height: 1.8em;
}

.section2 .qm {
  background-color: #ffd755;
  border-radius: 0.5rem;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  cursor: pointer;
  font-size: 1.8rem;
}

.section2 .qm .profile {
  height: 15rem;
  width: 15rem;
  background: -webkit-gradient(linear, left top, right top, from(orange), to(red));
  background: linear-gradient(to right, orange, red);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: 1.8rem solid #006875;
  overflow: hidden;
}

.section2 .qm .profile img {
  display: inline-block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2 .qm .ppLogo {
  height: 60%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#5f0707), to(black));
  background: linear-gradient(to right, #5f0707, black);
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.section2 .qm .ppLogo img {
  display: inline-block;
  width: 100%;
  max-height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2 .qm .ppDetails {
  height: 38%;
  width: 100%;
  padding: 2rem 10rem;
}

@media (max-width: 599px) {
  .section2 .qm .ppDetails {
    padding: 2rem 4rem;
  }
}

@media (max-width: 399px) {
  .section2 .qm .ppDetails {
    padding: 2rem 1.5rem;
  }
}

.section2 .qm .ppDetails .heading {
  padding: 4rem 0 2rem 0;
  font-size: 3rem;
  grid-area: h;
}

.section2 .qm .ppDetails .para {
  grid-area: p;
  text-indent: 10rem;
  margin: 2rem 0;
}

@media (max-width: 599px) {
  .section2 .qm .ppDetails .para {
    text-indent: 0;
  }
}

.section2 .qm .ppDetails .paraImg {
  grid-area: pi;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.5rem 0;
}

.section2 .qm .ppDetails .paraImg .i {
  width: 50%;
}

.section2 .qm .ppDetails .paraImg .i img {
  width: 100%;
}

.section2 .qm .ppDetails .paraImg .p {
  width: 50%;
  padding-right: 3rem;
}

.section2 .qm .ppDetails .imgPara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: ip;
  margin: 2.5rem 0;
}

.section2 .qm .ppDetails .imgPara .i {
  width: 50%;
}

.section2 .qm .ppDetails .imgPara .i img {
  width: 100%;
}

.section2 .qm .ppDetails .imgPara .p {
  width: 50%;
  padding-left: 3rem;
}

.section2 .qm .ppDetails .fullImg {
  margin: 2.5rem 0;
  grid-area: f;
}

.section2 .qm .ppDetails .fullImg img {
  width: 100%;
  max-width: 100%;
  max-height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 979px) {
  .hide_for_mobiles {
    display: none;
  }
}

@media (min-width: 980px) {
  .hide_for_desktops {
    display: none;
  }
}

.menu {
  opacity: 1;
  background-color: #006875;
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translate(-75%, 0%);
          transform: translate(-75%, 0%);
  -webkit-animation: dropDown 0.5s ease-out forwards;
          animation: dropDown 0.5s ease-out forwards;
  padding: 4rem 2rem 2rem;
}

@-webkit-keyframes dropDown {
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes dropDown {
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.menu .links {
  height: 40vh;
  width: 100%;
  font-weight: 600;
}

.menu .links a {
  display: block;
  height: 5rem;
  border-radius: 1rem;
  background-color: #ffd755;
  padding: 2rem;
  margin: 2rem 0;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
}

.menu .links .themes {
  min-height: 15rem;
  width: 100%;
  padding: 2rem 0;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #ffd755;
}

.menu .links .themes .widetxt {
  height: 3rem;
}

.menu .links .themes .switches {
  margin: 2rem 0;
  max-width: 50rem;
  background-color: #006875;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.menu .links .themes .switches .switch {
  height: 5rem;
  width: 5rem;
  border: 0.3rem solid black;
  border-radius: 50%;
  margin: 1rem;
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.menu .links .themes .switches .switch:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.menu .links .themes .switches .switch1 {
  background-color: white;
}

.menu .links .themes .switches .switch2 {
  background-color: black;
  border-color: white;
}

.menu .links .themes .switches .switch3 {
  background-color: #006875;
}

.menu .links .themes .switches .switch4 {
  background-color: pink;
}

.menu__open {
  position: fixed;
  top: 0;
}
/*# sourceMappingURL=blog.css.map */