/* 
*/
/* 
// blue theme
// background colors
$primaryB :  #0c2233;
$secondaryB : #0a91ab;
$tertiaryB : #ffc045;
$fourthB : #065471;
//borders
$borderP : 1px solid rgba(0, 247, 255, 0.253);

//font color
$clrB :#fffffff1;
$clrD : #f3f3f3;
$clr: white;
$cta : rgb(26, 26, 26);
//btn clr
$btnP : #c9c449;

// fonts 
$large : 4rem;

//box shadows
$bs1 :   3px 3px 20px rgba(0, 0, 0, .5);
$bs2 :  rgb(0, 0, 0) 0px 20px 30px -10px;
$bs3:  rgba(0, 0, 0, 0.16) 0px 1px 4px;


//hamburger color
$hamb: white;

//tertiary colors 
$tert1 : #3fbbb5;
$tert2 : #d6b437;
$tert3 : #292B37;

//overlays 
$overlay1: #ffd755d8;

// font family 
$font1 :'Montserrat', sans-serif;
$font2: 'Quicksand', sans-serif;


 */

 
// black theme
// background colors
$primaryB :  #111;
$secondaryB : #222;
$tertiaryB : #f3ca20;
$fourthB : #000;
//borders
$borderP : 1px solid rgba(0, 247, 255, 0.253);

//font color
$clrB :rgba(255, 255, 255, 0.836);
$clrD : #f3f3f3;
$clr: rgba(255, 255, 255, 0.836);
$cta : rgb(26, 26, 26);
//btn clr
$btnP : #c9c449;

// fonts 
$large : 4rem;

//box shadows
$bs1 :  rgba(0, 0, 0, 0.16) 0px 1px 4px;
$bs2 :  rgb(0, 0, 0) 0px 20px 30px -10px;
$bs3:  rgba(0, 0, 0, 0.16) 0px 1px 4px;

//hamburger color
$hamb: white;

//tertiary colors 
$tert1 : #222;
$tert2 : #222;
$tert3 : #222;

//overlays 
$overlay1: #ffd755d8;

// font family 
$font1 :'Montserrat', sans-serif;
$font2: 'Quicksand', sans-serif;




