// white theme
// background colors
$primaryB :  #d6d6d6;
$secondaryB : #ffffff;
$tertiaryB : #6C63FF;
$fourthB : #ffffff;
//borders
$borderP : 1px solid rgba(0, 247, 255, 0.253);

//font color
$clrB :#2b2b2bf1;
$clrD : #111111;
$cta : rgb(255, 255, 255);
$clr: black;
//btn clr
$btnP : #c9c449;

// fonts 
$large : 4rem;

//box shadows
$bs1 :  rgba(0, 0, 0, 0.16) 0px 1px 4px;
$bs2 :  rgb(0, 0, 0) 0px 20px 30px -10px;
$bs3:  rgba(0, 0, 0, 0.16) 0px 1px 4px;

// hamb color
$hamb : black;
//tertiary colors 
$tert1 : #ffffff;
$tert2 : #ffffff;
$tert3 : #ffffff;

//overlays 
$overlay1: #ffd755d8;

// font family 
$font1 :'Montserrat', sans-serif;
$font2: 'Quicksand', sans-serif;