.section1{
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background: $secondaryB;
    height: auto;
    overflow: hidden;
   
    nav{
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        
     
        
        @include breakpoint-down(small){
            padding: 0 1rem;
        }
        
        .logo{
            
            img{
                display: inline-block;
                height: 6rem;
            }
            
        }
        
        .links{
            
            a{
                text-transform: uppercase;
                margin: 0 0.5rem;
            }
            
        }


        
        .hamburger{
            width: 2.6rem;
            height: 2.5rem;
            cursor: pointer;
            z-index: 1000;
            &__open {
                
                > span:first-child {
                    transform: rotate(45deg);
                    transform-origin: 0.12rem 0.2rem;
                }
                
                > span:nth-child(2) {
                    opacity: 0;
                }
                
                >span:last-child {
                    transform: rotate(-45deg);
                    transform-origin: -0.1rem 0.1rem;
                }
            }
            
            span{
                background-color: #111;
                display: block;
                height: 0.4rem;
                margin: 0.5rem 0;
                border-radius: 2rem;
                transition: transform 0.3s;
            }
        }
        
    }
    
    .intro{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: '. t t t i i i .';    
        padding: 8rem 0 0;
        @include breakpoint-down(medium){
            display: block;
            padding: 8rem 2.5rem;
        }
        .text{
            
            grid-area: t;
            height: 100%;
            
            h1{
                font-size: $large;
                margin: 1rem 1rem 2rem 0;
                font-family: $font2;
                font-weight: 600;
            }
            
            .cta{
                margin: 2.5rem 0 ;
            }
            
        }
        
        .illustration{
            grid-area: i;
            @include breakpoint-down(medium){
                display: none;
            }
            img{
                display: inline-block;
                height: 95%;
                width: auto;
                min-height: 20rem;
                max-height: 30rem;
            }
        }
    }
}
