
.section2{
    margin: 7rem 0 0 0;
    padding: 0 2rem;
/*     display: flex;
    flex-flow: row wrap;
    flex: 1 0 20rem;
     */
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
     grid-gap: 2rem;
     @include breakpoint-down(medium){
        display: block;
     }

    .card{
        border-radius: 1rem;
        box-shadow: $bs1;
        transition: all 0.5s;
        position: relative;
        max-width: 40rem;
        min-height: 42rem;
        margin: 3rem 0;

        @include breakpoint-down(medium){
            margin: 6rem auto;
         }

        @include breakpoint-down(small){
            min-height: 45rem;
         }

        &:hover{
            box-shadow: $bs2;
        }

        &__logo{
            height: 8rem;
            width: 8rem;
            background: linear-gradient(to right, orange, red);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            right: 2rem;
            top: 0;             
            transform: translate(0, -50%);
            border: 0.8rem solid $primaryB;
            overflow: hidden;
            z-index: 4;
            
            img{
                display: inline-block;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        
        &__bg{
            height: 40%;
            width: 100%;
            background: #111;
            overflow: hidden;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
            
            img{
                display: inline-block;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__snippet{
            padding: 1rem 2rem;
            color: $clrB;
            width: 100%;
            height: 60%;
            overflow: hidden;
            z-index: 3;
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $fourthB;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            font-weight: 300;
            .heading{
                padding: 0 0 2rem 0;
                font-size: 1.9rem;
                font-weight: 600;
                font-family: $font2;
            }

            .blog__link {
                font-weight: 400;
            }

        }

        &__overlay{
            background: rgba(0, 0, 0, 0.411);
            position: absolute;
            height: 40%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            border-radius: 1rem;
            transition: all 0.3s;
            &:hover {
                background-color: rgba(0, 0, 0, 0.192);
            }
        }
        
    }
}
