/* 
// white theme
// background colors
$primaryB :  #ececec;
$secondaryB : #ffffff;
$tertiaryB : #6C63FF;

//borders
$borderP : 1px solid rgba(0, 247, 255, 0.253);

//font color
$clrB :#fffffff1;
$clrD : #f3d6bb;
$cta : rgb(255, 255, 255);
//btn clr
$btnP : #c9c449;

// fonts 
$large : 4rem;

//box shadows
$bs1 :  rgba(0, 0, 0, 0.24) 0px 3px 8px;
$bs2 :  rgb(38, 57, 77) 0px 20px 30px -10px;


//tertiary colors 
$tert1 : #3fbbb5;
$tert2 : #d6b437;
$tert3 : #292B37;

 */
//dark pallete blue
// background colors
$primaryB : #006875;
$secondaryB :#ffd755;
$tertiaryB : #ffffff;

//borders
$borderP : 1px solid rgba(0, 247, 255, 0.253);

//font color
$clrB :#f7f7f7;
$clrD : #f3d6bb;
$cta : #222;
$clr : black;
//btn clr
$btnP : #04c3d1;
//btn clr
$btnP : #c9c449;

// fonts 
$large : 4rem;

//box shadows
$bs1 :   3px 3px 20px rgba(0, 0, 0, .5);
$bs2 :  rgb(0, 0, 0) 0px 20px 30px -10px;
$bs3:  rgba(0, 0, 0, 0.16) 0px 1px 4px;
$fourthB : #001C21;
//tertiary colors 
$tert1 : #3fbbb5;
$tert2 : #ffda55;
$tert3 : #292B37;

//overlays 
$overlay1: #ffd755;
$hamb: black;
// font family 
$font1 :'Montserrat', sans-serif;
$font2: 'Quicksand', sans-serif;;